scikit_image>=0.17.2
numpy>=1.19.2
pandas>=1.1.2+1.g514aca06b1
albumentations>=0.4.6
tables>=3.4.4
matplotlib>=3.1.2
#detectron2>=0.3
openslide_python>=1.1.2
PyMySQL>=0.10.1
Shapely>=1.7.1
pytest>=0.0.0
optuna>=2.3.0
click>=7.1.2
opencv_python_headless>=4.4.0.46
Flask>=1.1.2
pytz>=2020.1
imageio>=2.9.0
tqdm>=4.50.2
torchvision>=0.7.0
scipy>=1.5.2
APScheduler>=3.6.3
torch>=1.6.0
pytorch_lightning>=1.0.2
lxml>=4.6.2
